In [1]:
import numpy as np
import pandas as pd
import nltk
from nltk import word_tokenize

In [2]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\chirif\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
df = pd.read_csv("bbc_text_cls.csv")

In [4]:
df

,ArticleId,Text,Category
0,1833,worldcom ex-boss launches defence lawyers defe...,business
1,154,german business confidence slides german busin...,business
2,1101,bbc poll indicates economic gloom citizens in ...,business
3,1976,lifestyle governs mobile choice faster bett...,tech
4,917,enron bosses in $168m payout eighteen former e...,business
...,...,...,...
1485,857,double eviction from big brother model caprice...,entertainment
1486,325,dj double act revamp chart show dj duo jk and ...,entertainment
1487,1590,weak dollar hits reuters revenues at media gro...,business
1488,1587,apple ipod family expands market apple has exp...,tech
1489,538,santy worm makes unwelcome visit thousands of ...,tech

In [5]:
idx = 0
word2idx = {}
tokenized_docs=[]
for doc in df["Text"]:
    words = word_tokenize(doc)
    doc_as_int = []
    for word in words:
        if word not in word2idx:
            word2idx[word] = idx
            idx += 1
        doc_as_int.append(word2idx[word])
    tokenized_docs.append(doc_as_int)

In [6]:
#Reverse mapping
idx2word = {v:k for k, v in word2idx.items()}

In [7]:
N = len(df["Text"])

In [8]:
V = len(word2idx)

In [9]:
tf = np.zeros((N,V))

In [10]:
for i, doc_as_int in enumerate(tokenized_docs):
    for j in doc_as_int:
        tf[i,j] += 1

In [11]:
document_freq = np.sum(tf>0, axis=0)
idf = np.log(N/document_freq)

In [12]:
tf_idf = tf * idf

In [13]:
np.random.seed(123)

In [14]:
i = np.random.choice(N)
row = df.iloc[i]
print("Label:", row["Category"])
print("Text:", row["Text"].split("\n", 1)[0])
print("Top 5 terms:")

scores = tf_idf[i]
indices = (-scores).argsort()

for j in indices[:5]:
    print(idx2word[j])

Label: business
Text: oil prices fall back from highs oil prices retreated from four-month highs in early trading on tuesday after producers  cartel opec said it was now unlikely to cut production.  following the comments by acting opec secretary general adnan shihab-eldin  us light crude fell 32 cents to $51.43 a barrel. he said that high oil prices meant opec was unlikely to stick to its plan to cut output in the second quarter. in london  brent crude fell 32 cents to $49.74 a barrel.  opec members are next meeting to discuss production levels on 16 march. on monday  oil prices rose for a sixth straight session  reaching a four-month high as cold weather in the us threatened stocks of heating oil. us demand for heating oil was predicted to be about 14% above normal this week  while stocks were currently about 7.5% below the levels of a year ago. cold weather across europe has also put upward pressure on crude prices.
Top 5 terms:
opec
oil
crude
prices
heating